[submodule "SecLists"]
	path = SecLists
	url = https://github.com/danielmiessler/SecLists
[submodule "PayloadsAllTheThings"]
	path = PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings
[submodule "fuzzdb"]
	path = fuzzdb
	url = https://github.com/fuzzdb-project/fuzzdb
[submodule "wordlists"]
	path = wordlists
	url = https://github.com/xajkep/wordlists
[submodule "leaky-paths"]
	path = leaky-paths
	url = https://github.com/ayoubfathi/leaky-paths
[submodule "big-list-of-naughty-strings"]
	path = big-list-of-naughty-strings
	url = https://github.com/minimaxir/big-list-of-naughty-strings
